*.java linguist-detectable=true
*.c linguist-detectable=true
*.sql linguist-detectable=true
*.xml linguist-detectable=false
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
Documentatie.pdf linguist-documentation
JavaDoc/* linguist-documentation